                                            <div class="wrapper-v j-start no_hpad driver-card"
                                                style="max-width: 400px; padding-bottom: 0px;">
                                                <div class="wrapper-v j-start a-start bordered-grid shadowed">
                                                    <div
                                                        class="wrapper-h no_hpad j-start a-center h-min-content bordered-bottom thick cg-1618">
                                                        <img src="/assets/images/icons/driver_white.svg"
                                                            class="ph-image">
                                                        <h1 class="big" style="margin-left: 12px;">
                                                            Nome e cognome autista
                                                        </h1>
                                                    </div>
                                                </div>
                                            </div>