<div class="wrapper-v event-wrapper shrunk blurred bordered-grid nopadding alive">
    <!-- Header begin -->
    <div class="wrapper-h j-sb bordered-bottom nopadding thick h-min-content relative">
        <div class="overlay dead">
            <div class="wrapper-h j-start a-center nopadding cg-382">

                <a style="transform:translate(-100%); border-top-left-radius: 0px !important;"
                    class="handle alive cg-1618" data-role="ew-toggle">
                    <i class="fa fa-caret-left" style="font-size: 1.382em;"></i>
                    <p>Mostra Eventi</p>
                </a>
            </div>
        </div>
        <div class="wrapper-h j-start w-max-content no_wrap">
            <h1 class="ev-title medium">Eventi</h1>
        </div>
        <div class="wrapper-h j-start a-center cg-1618 bordered-left">
            <div class="wrapper-h j-sb nopadding">
                <input type="text" class="w-min-content no_wrap" placeholder="Cerca un evento..." data-role="event-search">
                <div class="wrapper-h cg-382 j-end a-center nopadding">
                    <a class="btn-input"><i class="fa fa-search"></i></a>
                    <a class="btn-input"><i class="fa fa-filter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header end -->

    <!-- Body Begin -->
    <div class="wrapper-v j-start a-start nopadding relative noscroll">
        <div class="overlay scrollable-y" style="padding:8px 0px 8px 0px">
            <div class="wrapper-v rg-8p j-start a-start" data-role="event-sidebar-list" style="overflow-x: auto;"></div>
        </div>
    </div>
    <!-- Body end  -->
</div>