<div class="comment w-100 mw-100 h-fit-content wrapper-v j-start a-start nopadding vcl" data-imei="">
    <div class="wrapper-v nopadding rg-8p j-start a-start bordered-bottom thick">
        <div class="wrapper-h j-sb h-fit-content" style="padding-bottom: 0px !important;">
            <div class="wrapper-h cg-382 j-start nopadding" title="">
                <h1 class="medium" data-role="vehicle-name">Nome Veicolo</h1>
                <i class="fa fa-dot success" data-role="vehicle-status-indicator"></i>
            </div>
            <div class="wrapper-h smooth j-end a-center nopadding bg-grid w-fit-content navexpand" data-shrunk="true">
                <a class="navbar-item" data-action="show-info"><i class="fa fa-info-circle"></i></a>
                <a class="navbar-item" data-action="show-driver"><i class="fa fa-id-card"></i></a>
                <a class="navbar-item" data-action="show-fuel"><img src="/assets/images/icons/gaspump_white.svg"></a>
                <a class="wrapper-v j-center" style="min-width: 32px; font-size: 1.382em; max-width: 32px; min-height: 32px; max-height: 32px" title="Impostazioni" data-action="toggle-menu"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="wrapper-h j-start cg-382 no_vpad" style="padding-bottom: 24px !important;">
            <p class="muted" data-role="vehicle-plate">Targa</p>
            <div class="separator-h bg-brand" style="min-height: 16px;"></div>
            <p class="muted" data-role="vehicle-imei">imei</p>
        </div>
    </div>
    <div class="wrapper-h j-sb a-center">
        <div class="wrapper-v rg-8p a-start nopadding">
            <div class="wrapper-h j-start nopadding cg-1618 a-center">
                <i class="fa fa-location-arrow" style="min-width: 15px !important;"></i>
                <p data-role="vehicle-location">Pollena Trocchia</p>
            </div>
            <div class="wrapper-h j-start nopadding cg-1618 a-center">                
                <i class="fa fa-id-card"></i>
                <div class="driver-hyperlink">
                    <div class="underline"></div>
                    <span data-role="vehicle-driver">-</span>
                </div>
            </div>
        </div>
        <div class="wrapper-v nopadding rg-8p a-end">
            <div class="wrapper-h j-end cg-382 nopadding" style="padding-top: 12px;">
                <p class="small muted">1</p>
                <div class="fuel-tank" data-role="tank-1">
                    <div class="prog" title="0L"></div>
                </div>
                <p data-role="tank-1-level">0L</p>
            </div>
            <div class="wrapper-h j-end cg-382 nopadding" style="padding-top: 12px;">
                <p class="small muted">2</p>
                <div class="fuel-tank" data-role="tank-2">
                    <div class="prog" title="0L"></div>
                </div>
                <p data-role="tank-2-level">0L</p>
            </div>            
        </div>
    </div>

</div>
