<div class="wrapper-h j-sb nopadding w-fit-content">
    <div class="widget-controls wrapper-h j-start a-center w-min-content cg-1618 relative" id="fuelChartControls">


        <div class="wrapper-h j-start cg-1618 w-min-content no_vpad">
            <label class="muted">Da</label><input type="datetime-local">
        </div>
        <div class="separator-h" style="background-color: var(--main);">
        </div>
        <div class="wrapper-h j-start cg-1618 w-min-content no_vpad">
            <label class="muted">A</label><input type="datetime-local">
        </div>
        <div class="mobilehide wrapper-h j-sb a-center info-sel relative no_wrap cg-1618 no_select relative w-min-content">
            <div class="overlay nav-menu v"
                style="top:100% !important; min-width: 100% !important; transform-origin: top center;">
                <div class="menu-item wrapper-h j-sb a-center no_vpad">
                    <div class="wrapper-h nopadding j-start cg-1618">
                        <p>Excel
                        </p>
                    </div>
                </div>
                <div class="menu-item wrapper-h j-sb a-center no_vpad">
                    <div class="wrapper-h nopadding j-start cg-1618">
                        <p>CSV</p>
                    </div>
                </div>
                <div class="menu-item wrapper-h j-sb a-center no_vpad">
                    <div class="wrapper-h nopadding j-start cg-1618">
                        <p>JSON</p>
                    </div>
                </div>
                <div class="menu-item wrapper-h j-sb a-center no_vpad">
                    <div class="wrapper-h nopadding j-start cg-1618">
                        <p>PDF</p>
                    </div>
                </div>
            </div>
            <p>Esporta Dati</p>
            <i class="fa fa-caret-down"></i>
        </div>
    </div>
</div>
