<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truckly | Home</title>
    <link href="/assets/css/terminal.css" rel="stylesheet">

</head>
<body>
    <div class="wrapper-v j-center a-center rg-16p">
        <img src="/assets/images/logo_white.png" class="img-fluid" style="max-width: 400px;">
        <h1 class="big">Siamo in dirittura d'arrivo.</h1>
        <a href="/login" class="btn brand">Accedi</a>
    </div>
</body>
</html>